*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    display: flex;
}

::-webkit-scrollbar{
    width:20px;
}

::-webkit-scrollbar-track{
    background: rgb(251, 134, 0);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 20px;
}

#banner{
    width: 50%;
}

#ban{
    position: fixed;
    width: 100vh;
    height: 100vh;
}

#home{
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F3F4F6;
}

#logo{
    width: 200px;
}

h2{
    color: rgb(251, 134, 0);
}

h3{
    margin: 20px 0;
    font-size: 15px;
}

h4{
    margin: 5px;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.bot{
    width: 250px;
    height: 50px;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #296edf;
    transition: 0.3s ease-out;
}

.bot:hover{
    background-color:#1c5abd;
}

.bot2{
    width: 250px;
    height: 50px;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #15489b;
    transition: 0.3s ease-out;
}

.bot2:hover{
    background-color:#183776;
}

#home h2{
    margin: 20px 0;
}

#home hr{
    max-width: 900px;
    margin: 20px auto;
}

.form{
    background-color: white;
    height: 100%;
    max-width: 800px;
    margin: 10px auto;
    border: groove 2px;
}

.check{
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.ck{
    margin: 5px 5px;
}

.form-txt{
    max-width: 800px;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
}

.txt{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 5px;
    width: 600px;
    margin: 5px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

.txt2{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 5px;
    width: 285px;
    margin: 5px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

.area{
    width: 615px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.bot3{
    margin: 10px;
    width: 400px;
    height: 50px;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: rgb(251, 134, 0);
    transition: 0.3s ease-out;
}

.bot3:hover{
    background-color: rgb(255, 164, 60);
}

/* Cep */

.lds-dual-ring {
  display: none;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}